@using HieuVeBan.Models.Entities
@using HieuVeBan.Models.Entities.OldEntities
@{
    ViewData["Title"] = "Kết quả MBTI";
    PersonalityGroup_MBTI personality = ViewBag.personality;
    List<FinalResultMBTI> finalResultMBTIs = ViewBag.finalResultMBTIs;
    List<Images_MBTI> images_MBTIs = ViewBag.images_MBTIs;
}

<style>

    .container-result {
        display: block;
    }

    .container-result-body {
        display: block;
    }</style>

<div class="main-body">
    <div class="famous-people">
        <div class="famous-people__first">
            <div class="famous-people__first--img" style="background-image: url('/assets/img/MBTI/@(personality.Symbol)/@(images_MBTIs[0].ImagePath)');"></div>
            <div class="famous-people__first--title">
                @images_MBTIs[0].ImageName
            </div>
        </div>
        <div class="famous-people__second">
            <div class="famous-people__second--img" style="background-image: url('/assets/img/MBTI/@(personality.Symbol)/@(images_MBTIs[1].ImagePath)');"></div>
            <div class="famous-people__second--title">
                @images_MBTIs[1].ImageName
            </div>
        </div>
        <div class="famous-people__third">
            <div class="famous-people__third--img" style="background-image: url('/assets/img/MBTI/@(personality.Symbol)/@(images_MBTIs[2].ImagePath)');"></div>
            <div class="famous-people__third--title">
                @images_MBTIs[2].ImageName
            </div>
        </div>
    </div>
    <div class="container-result">
        <div class="result-title">
            <div class="result-title__horizontal-line"></div>
            KẾT QUẢ
            <div class="result-title__horizontal-line"></div>
        </div>
        <div class="container-result-body">
            <div class="container-result-main">
                <div class="result-main__combination-mobile">
                    <span>@personality.Symbol</span>
                    <p>
                        @foreach (var item in personality.Symbol.ToCharArray())
                        {
                            if (item == 'E')
                            {
                                <span><span style="color: #005f69">E</span>xtraversion: Hướng ngoại<br /></span>
                            }
                            if (item == 'I')
                            {
                                <span>
                                    <span style="color: #005f69">I</span>ntroversion: Hướng nội <br />
                                </span>
                            }
                            if (item == 'N')
                            {
                                <span>
                                    i<span style="color: #005f69">N</span>tuition: Trực giác <br />
                                </span>
                            }
                            if (item == 'S')
                            {
                                <span>
                                    <span style="color: #005f69">S</span>ensing: Cảm giác <br />
                                </span>
                            }
                            if (item == 'T')
                            {
                                <span>
                                    <span style="color: #005f69">T</span>hinking: Lý trí <br />
                                </span>
                            }
                            if (item == 'F')
                            {
                                <span>
                                    <span style="color: #005f69">F</span>eeling: Cảm xúc <br />
                                </span>
                            }
                            if (item == 'J')
                            {
                                <span>
                                    <span style="color: #005f69">J</span>udging: Nguyên tắc <br />
                                </span>
                            }
                            if (item == 'P')
                            {
                                <span>
                                    <span style="color: #005f69">P</span>erceiving: Linh hoạt <br />
                                </span>
                            }
                        }
                    </p>
                </div>
                <div class="result-description">
                    <div class="result-description__title">Mô tả nhóm tính cách của bạn</div>
                    <div class="result-description__content">@personality.Description</div>
                </div>
                <div class="result-description">
                    <div class="result-description__title">Người nổi tiếng cùng nhóm tính cách với bạn</div>
                </div>
                <div class="result-main">
                    <table class="result-main__table">
                        <thead class="table-header">
                            <tr>
                                <th>Người nổi tiếng</th>
                                <th>Mô tả sơ lược</th>
                            </tr>
                        </thead>
                        <tbody class="table-body" style="vertical-align: text-top;">
                            @foreach (var item in images_MBTIs)
                            {
                                <tr>
                                    <td style="text-align: center"><span style="color: #f26f33; font-weight: bold; margin-bottom:20px;">@item.ImageName</span><br /><img src="~/assets/img/MBTI/@(personality.Symbol)/@(item.ImagePath)" style="width:70%;" /></td>
                                    <td>@item.ImageInfo</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="result-main__combination">
                        <span>@personality.Symbol</span>
                        <p>
                            @foreach (var item in personality.Symbol.ToCharArray())
                            {
                                if (item == 'E')
                                {
                                    <span><span style="color: #005f69">E</span>xtraversion: Hướng ngoại<br /></span>
                                }
                                if (item == 'I')
                                {
                                    <span>
                                        <span style="color: #005f69">I</span>ntroversion: Hướng nội <br />
                                    </span>
                                }
                                if (item == 'N')
                                {
                                    <span>
                                        i<span style="color: #005f69">N</span>tuition: Trực giác <br />
                                    </span>
                                }
                                if (item == 'S')
                                {
                                    <span>
                                        <span style="color: #005f69">S</span>ensing: Cảm giác <br />
                                    </span>
                                }
                                if (item == 'T')
                                {
                                    <span>
                                        <span style="color: #005f69">T</span>hinking: Lý trí <br />
                                    </span>
                                }
                                if (item == 'F')
                                {
                                    <span>
                                        <span style="color: #005f69">F</span>eeling: Cảm xúc <br />
                                    </span>
                                }
                                if (item == 'J')
                                {
                                    <span>
                                        <span style="color: #005f69">J</span>udging: Nguyên tắc <br />
                                    </span>
                                }
                                if (item == 'P')
                                {
                                    <span>
                                        <span style="color: #005f69">P</span>erceiving: Linh hoạt <br />
                                    </span>
                                }
                            }
                        </p>
                    </div>
                </div>
                <div class="result-description">
                    <div class="result-description__title">Nghề/Nhóm nghề phù hợp với bạn</div>
                </div>
                <div class="result-main">
                    <style>
                        .custom-table td {
                            text-align: left;
                        }
                    </style>
                    <div style="overflow-x: auto">

                        <table class="result-main__table custom-table" style="width: 100%; margin-bottom: 20px; table-layout: auto">
                            <thead class="table-header">
                                <tr>
                                    <th style="min-width: 300px" rowspan="2">Nghề/Nhóm nghề phù hợp với bạn theo khảo sát <br />(Làm gì thì phù hợp)</th>
                                    <th style="min-width: 300px">Nên học gì tại Việt Nam</th>
                                    <th style="color: #f26f33" colspan="8">Nên học gì tại UEH</th>
                                </tr>
                                <tr>
                                    <th>Các chương trình đào tạo tương ứng tại các Đại học ở Việt Nam</th>
                                    <th style="color: #f26f33; min-width: 300px;">Các ngành đào tạo hệ Đại học chính quy</th>
                                    <th style="color: #f26f33; min-width: 300px;">Các chương trình đào tạo Văn bằng 2 - Đại học chính quy</th>
                                    <th style="color: #f26f33; min-width: 300px;">Các chương trình đào tạo Liên thông Cao đẳng - Đại học chính quy</th>
                                    <th style="color: #f26f33; min-width: 300px;">Các chương trình đào tạo Văn bằng 1 - Vừa làm vừa học</th>
                                    <th style="color: #f26f33; min-width: 300px;">Các chương trình đào tạo Văn bằng 2 - Vừa làm vừa học</th>
                                    <th style="color: #f26f33; min-width: 300px;">Các chương trình đào tạo Liên thông Cao đẳng - Vừa làm vừa học</th>
                                    <th style="color: #f26f33; min-width: 300px;">Các chương trình đào tạo Liên thông trung cấp - Vừa làm vừa học</th>
                                    <th style="color: #f26f33; min-width: 300px;">Các chương trình đào tạo Thạc sĩ</th>
                                </tr>
                            </thead>
                            <tbody class="table-body" style="vertical-align: text-top;">
                                @for (int i = 0; i < finalResultMBTIs.Count; i++)
                                {
                                    @if (i % 2 == 0)
                                    {
                                        <tr>
                                            <td>@finalResultMBTIs[i].SuitableOccupationalGroup</td>
                                            <td>@finalResultMBTIs[i].EducationProgram_VN</td>
                                            <td>@Html.Raw(@finalResultMBTIs[i].EducationProgram_UEH)</td>
                                            <td>@Html.Raw(@finalResultMBTIs[i].EducationProgram_VB2DHCQ)</td>
                                            <td>@Html.Raw(@finalResultMBTIs[i].EducationProgram_LTCDDHCQ)</td>
                                            <td>@Html.Raw(@finalResultMBTIs[i].EducationProgram_VB1VLVH)</td>
                                            <td>@Html.Raw(@finalResultMBTIs[i].EducationProgram_VB2VLVH)</td>
                                            <td>@Html.Raw(@finalResultMBTIs[i].EducationProgram_LTCDVLVH)</td>
                                            <td>@Html.Raw(@finalResultMBTIs[i].EducationProgram_LTTCVLVH)</td>
                                            <td>@Html.Raw(@finalResultMBTIs[i].EducationProgram_ThacSi)</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="tr-background">
                                            <td>@finalResultMBTIs[i].SuitableOccupationalGroup</td>
                                            <td>@finalResultMBTIs[i].EducationProgram_VN</td>
                                            <td>@Html.Raw(@finalResultMBTIs[i].EducationProgram_UEH)</td>
                                            <td>@Html.Raw(@finalResultMBTIs[i].EducationProgram_VB2DHCQ)</td>
                                            <td>@Html.Raw(@finalResultMBTIs[i].EducationProgram_LTCDDHCQ)</td>
                                            <td>@Html.Raw(@finalResultMBTIs[i].EducationProgram_VB1VLVH)</td>
                                            <td>@Html.Raw(@finalResultMBTIs[i].EducationProgram_VB2VLVH)</td>
                                            <td>@Html.Raw(@finalResultMBTIs[i].EducationProgram_LTCDVLVH)</td>
                                            <td>@Html.Raw(@finalResultMBTIs[i].EducationProgram_LTTCVLVH)</td>
                                            <td>@Html.Raw(@finalResultMBTIs[i].EducationProgram_ThacSi)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-result-note">
            <div class="result-note">
                <span class="result-note__title">Lưu ý: </span> Kết quả có tính chất tham khảo, hỗ trợ định hướng nghề nghiệp cho học sinh & phụ huynh, ngoài 02 phương pháp này, còn có nhiều phương pháp khác như: Holland/MBTI, sinh trắc vân tay, trắc
                nghiệm khác. Khảo sát thêm phương pháp Holland
                <a href="/phuong-phap-dinh-huong-nghe-nghiep/holland/" class="result-note__link">
                    tại đây.
                </a>
            </div>
            <div class="result-advice" style="margin-bottom: 30px;">
                <span class="result-advice__title">Lời khuyên: </span> Quý phụ huynh, học sinh tìm kiếm "Tên ngành" ở cột 2 tại các trình duyệt web để tìm Đại học thích hợp.
            </div>
        </div>
        <div class="result-description" style="width: 100%;display: flex;justify-content: flex-end;padding: 0;font-size: 1.6rem;color: #333;margin-bottom: 20px;">
            <a href="/phuong-phap-dinh-huong-nghe-nghiep/holland/" style="color: #333;text-decoration:none;cursor: pointer;user-select: none;">
                Về phương pháp Holland
                <i class="fa-solid fa-angles-right icon-right"></i>
            </a>
        </div>
    </div>
</div>

